* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: #011936;
    color: #EEF0F2;
}

.texto-destaque-h1 {
    color: #22D4FD;
}

a {
    color: #EEF0F2;
}

